.sidebar {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-width: 270px;
  border-right: 1px solid #dadada;
  height: 100vh;
  padding: 20px 25px;
  gap: 60px;
  justify-content: space-between;
  z-index: 10;
  overflow: scroll;
  overflow-x: hidden;
  overflow: auto;
  @media only screen and (max-width: 1089px) {
    position: absolute;
    top: 0;
    left: -270px;
    background: #ffffff;
  }
  &.open {
    @media only screen and (max-width: 1089px) {
      left: 0;
    }
  }
  & > .sidebar__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > .logo__container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      margin-bottom: 40px;
      & > .close_sidebar_trigger {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e8e8e8;
        cursor: pointer;
        transition: all 300ms ease;
        width: 45px;
        height: 45px;
        border-radius: 80px;
        & > svg {
          stroke: #0f1e42;
        }
      }
    }
  }
}
